body {
   padding: 0%;
   margin: 0%; 
}

#card {
    height: 300px;
    width: 800px;
    margin: auto;
    position: absolute;
    background:linear-gradient(#780206,#061161);
    border-radius: 50px;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: 5px 10px #c21500;
    padding-top: 70px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    font-size: 70px;
}


.flex-column{
    display: flex;
    /* flex-direction: column; */
    margin-top: 500px;
}
.flex-center{
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size:1rem;
    padding:1rem ;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid  #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
    text-decoration: none;
    color:  #fff;
    background-color: #ff4444; 
}

